In [2]:
import pandas as pd

data_ori = pd.read_csv("bronze_olist/olist_order_items_dataset.csv")
data = data_ori.copy()

In [3]:
# Explorando os dados para análise
data.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB

### Tratando os dados

In [7]:
# Função para printar colunas sem dados e sua quantidade
def isnull(df):
    total = 0
    for col in df.columns:
        nulos = df[col].isnull().sum()
        total = total + nulos
        
        if nulos != 0:
            print(f'Coluna {col}: Há {nulos} valores nulos.')
    
    if total == 0:
        print('Sem dados nulos.')
    
isnull(data)

# Função para printar porcentagem de valores nulos para cada coluna
def perc_missing(df):
    for col in df.columns:
        pct = df[col].isnull().mean() * 100
        if pct != 0:
            print('{} = {}%'.format(col, round(pct, 2)))
        
    if pct == 0:
            print("Sem dados nulos para percentual.")
            
perc_missing(data)

Sem dados nulos.
Sem dados nulos para percentual.

In [8]:
# Transformando tipos de variáveis
data['shipping_limit_date'] = pd.to_datetime(data['shipping_limit_date'])

In [20]:
data.dtypes

order_id                       object
order_item_id                   int64
product_id                     object
seller_id                      object
shipping_limit_date    datetime64[ns]
price                         float64
freight_value                 float64
dtype: object

In [21]:
perc_missing(data)

Sem dados nulos para percentual.

In [22]:
# Verificando se existem IDs de ordens repetidas

data['order_id'].value_counts().sort_values(ascending=False)

8272b63d03f5f79c56e9e4120aec44ef    21
ab14fdcfbe524636d65ee38360e22ce8    20
1b15974a0141d54e36626dca3fdc731a    20
9ef13efd6949e4573a18964dd1bbe7f5    15
428a2f660dc84138d969ccd69a0ab6d5    15
                                    ..
f6e6afb31fd4986da7ac663a6b0c93b4     1
f6e6d4ea8fa36e20a36c71352a2422b3     1
f6e7b3bbe5b5e480084e5f0bf5771ec9     1
f6e89f57355aba0267e4063a2d762c90     1
fffe41c64501cc87c801fd61db3f6244     1
Name: order_id, Length: 98666, dtype: int64

In [137]:
# Criando arquivo .csv silver (tratado)

data.to_csv('silver_olist/order_items.csv', sep=',', index=False)

"\nimport csv\n\nwith open('orders', 'w') as myfile:\n    w = csv.writer(myfile, quoting=csv.QUOTE_ALL,delimiter='\n')\n    w.writerow(mylist)\n"